:host {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    width: 30rem;
    min-height: 5rem;
    padding: 1rem;
  }
  mat-card {
    mat-card-header {
      justify-content: center;
      padding: 3rem;
    }
  }
  mat-card-actions {
    justify-content: center;
    padding: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  :host {
    display: flex;
    flex-direction: column;

    .container {
      width: 100%;
      min-height: 5rem;
      border-radius: 2rem;
    }
  }
}
