@if(isLoading){
<div class="spinner">
  <mat-spinner></mat-spinner>
</div>
} @else {
<div class="btn">
  <button
    [disabled]="isRefreshDisabled"
    mat-stroked-button
    (click)="getCurrentLocation()"
  >
    Refresh
  </button>
  @if(!serviceStatus){
  <button
    [disabled]="isButtonDisabled"
    mat-stroked-button
    (click)="startService()"
  >
    Start
  </button>
  } @else {
  <button
    [disabled]="isButtonDisabled"
    mat-stroked-button
    (click)="stopService()"
  >
    Stop
  </button>
  }
</div>
<div>
  <h4>lat:{{ lat }}</h4>
  <h4>lon:{{ lon }}</h4>
  <h4>address:{{ address }}</h4>
</div>
}
