mat-card {
  mat-card-header {
    justify-content: center;
    padding: 3rem;
  }
  mat-card-actions {
    justify-content: center;
    padding: 2rem;
  }
}

.btn {
  display: flex;
  justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
}
