<div class="selection-page">
    <h2>Select</h2>
    <div class="options">
      <div class="option" (click)="selectUserType('shopOwner')">
        <div class="circle">
          <img src="https://img.freepik.com/premium-vector/business-owner-entrepreneur-start-small-business-retail-shop-open-store-front-online-sho_926199-4118397.jpg?w=740" alt="Shop Owner" />
        </div>
        <p>Shop Owner</p>
      </div>
      <div class="option" (click)="selectUserType('customer')">
        <div class="circle">
          <img src="https://img.freepik.com/premium-photo/receptionist-woman-modern-hotel-lobby-desk_1077802-394554.jpg?w=826" alt="Customer" />
        </div>
        <p>Customer</p>
      </div>
    </div>
  </div>
  