<div class="dashboard-container">
  <h2>Annapurna Hotel</h2>
  <div class="cards">
    <mat-card>
      <mat-card-content>
        <div>100</div>
        <div>Total members</div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div>10</div>
        <div>Overdue</div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div>90</div>
        <div>Present</div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div>5</div>
        <div>On Leave</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
